<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Post</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Dodaj nowy post</h1>

<form th:action="@{/addpost}" method="post" th:object="${postToInsert}">
    <p><h3>Treść posta:</h3><input type="text" th:field="*{message}"/></p>
    <p><input type = "submit" class = "btn btn-info" value="Dodaj post"/></p>
</form>

</body>
</html>