<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body style="text-align: center">
<h1><b>Twitter</b></h1>
<form th:action="@{/login-process}" method="post">
    <label class="label label-primary" for = "inputLogin">Login:</label>
    <input id="inputLogin" type="text" placeholder="Podaj login"
           th:required="required" name = "username"/>
    <label class="label label-primary" for="inputPassword">Password:</label>
    <input id="inputPassword" type="password"
           th:required="required" placeholder="Podaj haslo" name="password"/>
    <button type="button" class="btn btn-info">Zaloguj</button>
    <button type="button" class="btn btn-info">Zarejestruj sie</button>
</form>
</body>
</html>