<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Posts</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <h2><i class="fa fa-twitter" style="font-size:30px;color:dodgerblue">
            Wszystkie posty</i></h2>
        <thead>
        <tr class="table-primary">
            <th>Użytkownik:</th>
            <th>Umieścił post:</th>
            <th>Reakcja:</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="post : ${allPosts}">
            <form th:action="@{deletepost}" method="post" th:object="${post}">
                <td th:text="${post.user.name}"></td>
                <td th:text="${post.message}"></td>
                <td>
                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <button value="remove" class="btn btn-info">Usuń post</button>
                </td>
            </form>
            <td>
                <form th:action="@{addcomment}" method="post" th:object="${post}">
                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <button  value="submit" class="btn btn-info">Dodaj komentarz</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <form action="/index">
    <button value="submit" class="btn btn-info">Powrót do strony głównej</button>
    </form>
</div>
</body>
</html>